:root {
    --primary-background-color: #0f0f20;
    --secondary-background-color: #141529;
    --heading-color: #d4d4d9;
    --text-color: #898c8e;
    --highlight-color: #ffc24c;

    --red-background-color: #a13342;
    --red-heading-color: #ff6169;
    --red-text-color: #ffb8bc;

    --yellow-background-color: #a17c3d;
    --yellow-heading-color: #ffc34c;
    --yellow-text-color: #ffde9e;

    --green-background-color: #4c7d5c;
    --green-heading-color: #5ceb74;
    --green-text-color: #b2f5bc;

    --blue-background-color: #43667b;
    --blue-heading-color: #7bc9e5;
    --blue-text-color: #c4e6f3;

    --purple-background-color: #683e7f;
    --purple-heading-color: #d57ff5;
    --purple-text-color: #ebc2fa;
}