---
import Boilerplate from "../layouts/Boilerplate.astro";
import SinglePane from "../layouts/SinglePane.astro";
import HeaderNavBar from "../components/HeaderNavBar.astro";
import fs from "node:fs";


export function getStaticPaths() {
  let paths = [];
  const curriculums = fs.readdirSync("src/content/academic");

  for (let i = 0; i < curriculums.length; i++) {
    const subjects = fs.readdirSync(`src/content/academic/${curriculums[i]}`);
    const curriculum = curriculums[i].toLowerCase().replace(" ", "-");

    paths.push({
      params: { curriculum: curriculum },
      props: { curriculum: curriculums[i], subjects: subjects }});
  }

  return paths;
}

const { curriculum, subjects } = Astro.props;
---

<Boilerplate title={curriculum}>
  <HeaderNavBar leftTags={[ curriculum ]} />

  <SinglePane>
    <h1>{curriculum}</h1>

    <ul>
    {subjects.map(subject => (
      <li><a href={`${subject.toLowerCase().replace(" ", "-")}/`}>{subject}</a></li>
    ))}
    </ul>
  </SinglePane>
</Boilerplate>