---
import Boilerplate from "../layouts/Boilerplate.astro";
import SinglePane from "../layouts/SinglePane.astro";
import HeaderNavBar from "../components/HeaderNavBar.astro";
import fs from "fs";

const curriculums = fs.readdirSync("src/content/academic");
---

<Boilerplate title="Home">
	<HeaderNavBar rightTabs={[{ slug: "/about", tag: "About" }, { slug: "/contribute", tag: "Contribute" }]} />
	
	<SinglePane>
		<h1>Welcome to ACSdemy</h1>
		
		<ul>
		{curriculums.map(curriculum => (
			<li><a href={`${curriculum.toLowerCase().replace(" ", "-")}/`}>{curriculum}</a></li>
		))}
		</ul>
	</SinglePane>
</Boilerplate>